
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="quadrant">

           <!-- to list the programing laguages from API to create the dropdown -->
            <form action="/processdynamicform" method="POST" class="quadrant">
                                              
                <label for="languages">Select Programming Language:</label>
                <select name="Selected language" id="Selected language">
                    <% if (languages) { %>
                        <% languages.forEach(function(language){ %>
                        <!-- option using js to create the dropdown by language name-->
                            <option value=<%=language.name %> >
                                <%=language.name %>
                            </option>
                        
                        
                        <% }); %>
                    <% } %>
                </select>        
                <br><br>
                <!-- using the submit button to apply for the result on the next.ejs page-->
                <input type = "submit">

            </form>
           
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>